server:
  port: 8083

spring:
  application:
    name: grupos

  datasource:
    url: jdbc:postgresql://localhost:5432/gruposdb
    username: postgres
    password: 133130

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true


management:
  endpoints:
    web:
      exposure:
        include: health, info

